// Color variables
$primary-color: #58e1c1;
$secondary-color: #51ddfc;
$tertiary-color: #777;
$red: #e4757a;
$orange: #fd7856;

// Media query
$mq-breakpoint: 768px;

// Font stacks
$primary-font-stack: 'Lato', sans-serif;
