/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
	margin-top: 15px;
	width: 100%;
	color: #fff;
	border: none;
	padding: 10px 0;
	text-transform: uppercase;
	border-radius: 5px;
}

.btn:hover {
	color: #fff;
	background-color: lighten($primary-color, 15%);
	transition: background-color 0.7s ease-in-out;
}

.default {
	background-color: $secondary-color;
}

.error {
	background-color: $red;
}

.info {
	background-color: #927bc1;
}

.success {
	background-color: #63cc82;
}

.warning {
	background-color: $orange;
}
